 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>With over 11 years of experience in the education industry, Vrushali has worked in both design & delivery of quality curricula across multiple subjects and levels. Qualified both as a Design Thinking practitioner, an Instructional Designer, and Google Certified Trainer.</p>
                </div>
                <div class="col-lg-4">
                    <p>Currently, Vrushali is Co-Founder and Product Head of Orangeslates - Focussing on Teacher Training and Teacher Upskilling </p>
                    <p>She is also the leader of GEG - Mumbai and is selected in Google Innovator Program (VIA2021). </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
